@page "/jobposts/details"
@using Microsoft.EntityFrameworkCore
@using SmoothCareers.Domain
@inject IDbContextFactory<SmoothCareers.Data.SmoothCareersContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>JobPost</h2>
    <hr />
    @if (jobpost is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">EmployerId</dt>
            <dd class="col-sm-10">@jobpost.EmployerId</dd>
            <dt class="col-sm-2">JobCategoryId</dt>
            <dd class="col-sm-10">@jobpost.JobCategoryId</dd>
            <dt class="col-sm-2">JobTypeId</dt>
            <dd class="col-sm-10">@jobpost.JobTypeId</dd>
            <dt class="col-sm-2">WorkArrangementId</dt>
            <dd class="col-sm-10">@jobpost.WorkArrangementId</dd>
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@jobpost.Title</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@jobpost.Description</dd>
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@jobpost.Location</dd>
            <dt class="col-sm-2">Salary</dt>
            <dd class="col-sm-10">@jobpost.Salary</dd>
            <dt class="col-sm-2">DatePosted</dt>
            <dd class="col-sm-10">@jobpost.DatePosted</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@jobpost.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@jobpost.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@jobpost.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@jobpost.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/jobposts/edit?id={jobpost.Id}")">Edit</a> |
            <a href="@($"/jobposts")">Back to List</a>
        </div>
    }
</div>

@code {
    private JobPost? jobpost;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        jobpost = await context.JobPost.FirstOrDefaultAsync(m => m.Id == Id);

        if (jobpost is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
