@page "/employers/delete"
@using Microsoft.EntityFrameworkCore
@using SmoothCareers.Domain
@inject IDbContextFactory<SmoothCareers.Data.SmoothCareersContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Employer</h2>
    <hr />
    @if (employer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CompanyName</dt>
            <dd class="col-sm-10">@employer.CompanyName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Industry</dt>
            <dd class="col-sm-10">@employer.Industry</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@employer.Location</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">About</dt>
            <dd class="col-sm-10">@employer.About</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@employer.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@employer.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@employer.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@employer.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="employer" OnValidSubmit="DeleteEmployer" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(employer is null)">Delete</button> |
            <a href="/employers">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Employer? employer;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        employer = await context.Employer.FirstOrDefaultAsync(m => m.Id == Id);

        if (employer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteEmployer()
    {
        using var context = DbFactory.CreateDbContext();
        context.Employer.Remove(employer!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/employers");
    }
}
